@font-face {
  font-family: 'Visitor';
  src: url(../assets/Visitor.ttf);
}

@font-face {
  font-family: 'Pixeloza';
  src: url(../assets/Pixeloza02Skewo.otf);
}

@keyframes eplileptic {
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    background: var(--primary-color);
    color: var(--default-color);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    background: none;
  }
}

:root {
  --default-color: black;
  --primary-color: red;
  --secondary-color: white;
  --content-height: 100vh;
  --content-width: 100vw;
  --main-font: Visitor;
  --header-font: Pixeloza;
  --text-font-size: 6rem;
}
* {
  padding: 0;
  margin: 0;
  /* cursor: none; */
  user-select: none;
  background-color: var(--default-color);
  color: var(--secondary-color);
  font-family: var(--main-font, monospace);
  border: 0;
  outline: none;
}

body {
  min-height: var(--content-height);
  min-width: var(--content-width);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

button:not(:disabled):active {
  animation: eplileptic 100ms none 0s infinite;
}
