<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="preload"
      href="../assets/Pixeloza02Skewo.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="../assets/Visitor.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta charset="UTF-8" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="<%= title %>" />
    <meta name="apple-mobile-web-app-title" content="<%= title %>" />
    <meta name="msapplication-starturl" content="/index.html" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <main id="<%= mountId %>"></main>
  </body>
</html>
